<header>
  <nav>
    <a href="/">MovieMatchMaker</a>
    <ul>
      <li><a href="/directors">Directors</a></li>
      <li><a href="/directors/new">Add Director</a></li>
      <li><a href="/movies">Movie Rewiews</a></li>
      <li><a href="/movies/new">Add my Movie Rewiew</a></li>
    </ul>
  </nav>
</header>
