<header>
  <nav class="header-nav">
    <a class="header-title" href="/">MovieMatchMaker</a>
    <ul>
      <li class="header-link"><a href="/directors">Directors</a></li>
      <li class="header-link"><a href="/directors/new">Add Director</a></li>
      <li class="header-link"><a href="/movies">Movie Rewiews</a></li>
      <li class="header-link"><a href="/movies/new">Add my Movie Rewiew</a></li>
    </ul>
  </nav>
</header>
