<h2 class="page-header">Search Movie Reviews</h2>
<form action="/movies" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Movie Title</label>
      <input
        type="text"
        name="movieTitle"
        value="<%= searchOptions.movieTitle %>"
      />
    </div>
  </div>

  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br />
<%- include('../partials/posterGrid', { movies: movies, large: true}) %>
