<h2 class="page-header">Search Movie Reviews</h2>
<form action="/movies" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Movie Title</label>
      <input
        type="text"
        name="movieTitle"
        value="<%= searchOptions.movieTitle %>"
      />
    </div>
  </div>

  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>

<% movies.forEach(movie => { %>
<a href="/movies/<%= movie.id %>">
  <img height="150" width="100" src="<%= movie.posterImagePath %>" />
</a>
<% }) %>
